{% extends 'chairman/index.html' %}

{% block content %}      
<section class="content home" style="background-color: rgb(217, 225, 228);">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>View Complaints <small class="text-muted"><a style="color: rgb(245, 241, 241);">Welcome to Skyline Residency</a></small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="zmdi zmdi-home"></i> Skyline Residency</a></li>
                                                            <li class="breadcrumb-item">Complaints</li>
                                                                                        <li class="breadcrumb-item active">View Complaints</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                <div class="blog-page">
    <div class="row">
        <div class="col-lg-8 col-md-12 left-box">
            {% for i in call1 %}    
            <div class="card single_post" style="background-color: rgb(241, 250, 252);">
                <div class="body">
                    <h3 class="m-t-0 m-b-5"><a href="detail.html" style="color: rgb(102, 88, 196);">{{i.subject}}</a></h3>
                    <ul class="meta">
                        <li><a href="#" style="color: rgb(102, 88, 196);"><i class="zmdi zmdi-account col-purple"></i>  Posted By : {{i.member_id.firstname}}</a></li>
                        
                        <li><a href="#" style="color: rgb(102, 88, 196);"><i class="zmdi zmdi-time col-purple"></i>  {{i.whenpublished}}</a></li>
                    </ul>
                </div>                    
                <div class="body">
                    {% if i.complaintpic %}
                    <div class="img-post m-b-15">
                        <img src="{{i.complaintpic.url}}" alt="Awesome Image">            
                    </div>
                    {% endif %}
                    
                    <p>{{i.description}}</p>
                                       
                </div>
            </div>
            {% endfor %}
                                         
                           
        </div>
        
    </div>
</div>
            </div>
        
        </section>
{% endblock %}
